@font-face {
  font-family: Neue Haas Grotesk Display Pro;
  src: url(NeueHaasDisplay-Medium.woff2) format("woff2"),
    url(NeueHaasDisplay-Medium.woff) format("woff"),
    url(NeueHaasDisplayMedium.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
