@font-face {
  font-family: "Aenoik Fono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("AeonikFono-Air.woff2") format("woff2");
}

@font-face {
  font-family: "Aenoik Fono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("AeonikFono-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Aenoik Fono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("AeonikFono-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Aenoik Fono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("AeonikFono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Aenoik Fono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("AeonikFono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Aenoik Fono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("AeonikFono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Aenoik Fono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("AeonikFono-Black.woff2") format("woff2");
}
