@font-face {
  font-family: "GT Walsheim";
  src: url("GT-Walsheim-Light.eot");
  src: url("GT-Walsheim-Light.eot?#iefix") format("embedded-opentype"),
    url("GT-Walsheim-Light.woff2") format("woff2"),
    url("GT-Walsheim-Light.woff") format("woff"),
    url("GT-Walsheim-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("GT-Walsheim-Regular.eot");
  src: url("GT-Walsheim-Regular.eot?#iefix") format("embedded-opentype"),
    url("GT-Walsheim-Regular.woff2") format("woff2"),
    url("GT-Walsheim-Regular.woff") format("woff"),
    url("GT-Walsheim-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("GT-Walsheim-Bold.eot");
  src: url("GT-Walsheim-Bold.eot?#iefix") format("embedded-opentype"),
    url("GT-Walsheim-Bold.woff2") format("woff2"),
    url("GT-Walsheim-Bold.woff") format("woff"),
    url("GT-Walsheim-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans EN Light";
  src: url("CathaySans_WCorp_Lt.eot");
  src: url("CathaySans_WCorp_Lt.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_WCorp_Lt.woff2") format("woff2"),
    url("CathaySans_WCorp_Lt.woff") format("woff"),
    url("CathaySans_WCorp_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans EN Regular";
  src: url("CathaySans_WCorp_Rg.eot");
  src: url("CathaySans_WCorp_Rg.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_WCorp_Rg.woff2") format("woff2"),
    url("CathaySans_WCorp_Rg.woff") format("woff"),
    url("CathaySans_WCorp_Rg.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans EN Bold";
  src: url("CathaySans_WCorp_Bd.eot");
  src: url("CathaySans_WCorp_Bd.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_WCorp_Bd.woff2") format("woff2"),
    url("CathaySans_WCorp_Bd.woff") format("woff"),
    url("CathaySans_WCorp_Bd.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans EN";
  src: url("CathaySans_WCorp_Lt.eot");
  src: url("CathaySans_WCorp_Lt.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_WCorp_Lt.woff2") format("woff2"),
    url("CathaySans_WCorp_Lt.woff") format("woff"),
    url("CathaySans_WCorp_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans EN";
  src: url("CathaySans_WCorp_Rg.eot");
  src: url("CathaySans_WCorp_Rg.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_WCorp_Rg.woff2") format("woff2"),
    url("CathaySans_WCorp_Rg.woff") format("woff"),
    url("CathaySans_WCorp_Rg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans EN";
  src: url("CathaySans_WCorp_Bd.eot");
  src: url("CathaySans_WCorp_Bd.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_WCorp_Bd.woff2") format("woff2"),
    url("CathaySans_WCorp_Bd.woff") format("woff"),
    url("CathaySans_WCorp_Bd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans JP Light";
  src: url("CathaySans_JP_W_Lt.eot");
  src: url("CathaySans_JP_W_Lt.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_JP_W_Lt.woff2") format("woff2"),
    url("CathaySans_JP_W_Lt.woff") format("woff"),
    url("CathaySans_JP_W_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans JP Regular";
  src: url("CathaySans_JP_W_Rg.eot");
  src: url("CathaySans_JP_W_Rg.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_JP_W_Rg.woff2") format("woff2"),
    url("CathaySans_JP_W_Rg.woff") format("woff"),
    url("CathaySans_JP_W_Rg.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans JP Bold";
  src: url("CathaySans_JP_W_Bd.eot");
  src: url("CathaySans_JP_W_Bd.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_JP_W_Bd.woff2") format("woff2"),
    url("CathaySans_JP_W_Bd.woff") format("woff"),
    url("CathaySans_JP_W_Bd.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans SC Light";
  src: url("CathaySans_W_SC_Lt.eot");
  src: url("CathaySans_W_SC_Lt.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_W_SC_Lt.woff2") format("woff2"),
    url("CathaySans_W_SC_Lt.woff") format("woff"),
    url("CathaySans_W_SC_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans SC Regular";
  src: url("CathaySans_W_SC_Rg.eot");
  src: url("CathaySans_W_SC_Rg.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_W_SC_Rg.woff2") format("woff2"),
    url("CathaySans_W_SC_Rg.woff") format("woff"),
    url("CathaySans_W_SC_Rg.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans SC Bold";
  src: url("CathaySans_W_SC_Bd.eot");
  src: url("CathaySans_W_SC_Bd.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_W_SC_Bd.woff2") format("woff2"),
    url("CathaySans_W_SC_Bd.woff") format("woff"),
    url("CathaySans_W_SC_Bd.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans KR Light";
  src: url("CathaySans_KR_W_Lt.eot");
  src: url("CathaySans_KR_W_Lt.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_KR_W_Lt.woff2") format("woff2"),
    url("CathaySans_KR_W_Lt.woff") format("woff"),
    url("CathaySans_KR_W_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans KR Regular";
  src: url("CathaySans_KR_W_Rg.eot");
  src: url("CathaySans_KR_W_Rg.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_KR_W_Rg.woff2") format("woff2"),
    url("CathaySans_KR_W_Rg.woff") format("woff"),
    url("CathaySans_KR_W_Rg.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans KR Bold";
  src: url("CathaySans_KR_W_Bd.eot");
  src: url("CathaySans_KR_W_Bd.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_KR_W_Bd.woff2") format("woff2"),
    url("CathaySans_KR_W_Bd.woff") format("woff"),
    url("CathaySans_KR_W_Bd.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans TC Light";
  src: url("CathaySans_W_TC_Lt.eot");
  src: url("CathaySans_W_TC_Lt.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_W_TC_Lt.woff2") format("woff2"),
    url("CathaySans_W_TC_Lt.woff") format("woff"),
    url("CathaySans_W_TC_Lt.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans TC Regular";
  src: url("CathaySans_W_TC_Rg.eot");
  src: url("CathaySans_W_TC_Rg.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_W_TC_Rg.woff2") format("woff2"),
    url("CathaySans_W_TC_Rg.woff") format("woff"),
    url("CathaySans_W_TC_Rg.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cathay Sans TC Bold";
  src: url("CathaySans_W_TC_Bd.eot");
  src: url("CathaySans_W_TC_Bd.eot?#iefix") format("embedded-opentype"),
    url("CathaySans_W_TC_Bd.woff2") format("woff2"),
    url("CathaySans_W_TC_Bd.woff") format("woff"),
    url("CathaySans_W_TC_Bd.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
