@font-face {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("AeonikPro-Air.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("AeonikPro-AirItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("AeonikPro-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("AeonikPro-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("AeonikPro-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("AeonikPro-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("AeonikPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("AeonikPro-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("AeonikPro-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("AeonikPro-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("AeonikPro-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("AeonikPro-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("AeonikPro-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Aeonik Pro";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("AeonikPro-BlackItalic.woff2") format("woff2");
}
