@font-face {
  font-family: "aeonik_trialbold";
  src: url("aeoniktrial-bold-webfont.woff2") format("woff2"),
    url("aeoniktrial-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonik_trialbold_italic";
  src: url("aeoniktrial-bolditalic-webfont.woff2") format("woff2"),
    url("aeoniktrial-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonik_triallight";
  src: url("aeoniktrial-light-webfont.woff2") format("woff2"),
    url("aeoniktrial-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonik_triallight_italic";
  src: url("aeoniktrial-lightitalic-webfont.woff2") format("woff2"),
    url("aeoniktrial-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonik_trialregular";
  src: url("aeoniktrial-regular-webfont.woff2") format("woff2"),
    url("aeoniktrial-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "aeonik_trialregular_italic";
  src: url("aeoniktrial-regularitalic-webfont.woff2") format("woff2"),
    url("aeoniktrial-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
