@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-50.woff2") format("woff2"),
    url("TWKLausanne-50.woff") format("woff");
  font-weight: 50;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-50Italic.woff2") format("woff2"),
    url("TWKLausanne-50Italic.woff") format("woff");
  font-weight: 50;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-100.woff2") format("woff2"),
    url("TWKLausanne-100.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-100Italic.woff2") format("woff2"),
    url("TWKLausanne-100Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-150.woff2") format("woff2"),
    url("TWKLausanne-150.woff") format("woff");
  font-weight: 150;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-150Italic.woff2") format("woff2"),
    url("TWKLausanne-150Italic.woff") format("woff");
  font-weight: 150;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-200.woff2") format("woff2"),
    url("TWKLausanne-200.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-200Italic.woff2") format("woff2"),
    url("TWKLausanne-200Italic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-250.woff2") format("woff2"),
    url("TWKLausanne-250.woff") format("woff");
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-250Italic.woff2") format("woff2"),
    url("TWKLausanne-250Italic.woff") format("woff");
  font-weight: 250;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-300.woff2") format("woff2"),
    url("TWKLausanne-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-300Italic.woff2") format("woff2"),
    url("TWKLausanne-300Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-350.woff2") format("woff2"),
    url("TWKLausanne-350.woff") format("woff");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-350Italic.woff2") format("woff2"),
    url("TWKLausanne-350Italic.woff") format("woff");
  font-weight: 350;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-400.woff2") format("woff2"),
    url("TWKLausanne-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-400Italic.woff2") format("woff2"),
    url("TWKLausanne-400Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-450.woff2") format("woff2"),
    url("TWKLausanne-450.woff") format("woff");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-450Italic.woff2") format("woff2"),
    url("TWKLausanne-450Italic.woff") format("woff");
  font-weight: 450;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-500.woff2") format("woff2"),
    url("TWKLausanne-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-500Italic.woff2") format("woff2"),
    url("TWKLausanne-500Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-550.woff2") format("woff2"),
    url("TWKLausanne-550.woff") format("woff");
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-550Italic.woff2") format("woff2"),
    url("TWKLausanne-550Italic.woff") format("woff");
  font-weight: 550;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-600.woff2") format("woff2"),
    url("TWKLausanne-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-600Italic.woff2") format("woff2"),
    url("TWKLausanne-600Italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-650.woff2") format("woff2"),
    url("TWKLausanne-650.woff") format("woff");
  font-weight: 650;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-650Italic.woff2") format("woff2"),
    url("TWKLausanne-650Italic.woff") format("woff");
  font-weight: 650;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-700.woff2") format("woff2"),
    url("TWKLausanne-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-700Italic.woff2") format("woff2"),
    url("TWKLausanne-700Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-750.woff2") format("woff2"),
    url("TWKLausanne-750.woff") format("woff");
  font-weight: 750;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-750Italic.woff2") format("woff2"),
    url("TWKLausanne-750Italic.woff") format("woff");
  font-weight: 750;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-800.woff2") format("woff2"),
    url("TWKLausanne-800.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-800Italic.woff2") format("woff2"),
    url("TWKLausanne-800Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-850.woff2") format("woff2"),
    url("TWKLausanne-850.woff") format("woff");
  font-weight: 850;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-850Italic.woff2") format("woff2"),
    url("TWKLausanne-850Italic.woff") format("woff");
  font-weight: 850;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-900.woff2") format("woff2"),
    url("TWKLausanne-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-900Italic.woff2") format("woff2"),
    url("TWKLausanne-900Italic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-950.woff2") format("woff2"),
    url("TWKLausanne-950.woff") format("woff");
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-950Italic.woff2") format("woff2"),
    url("TWKLausanne-950Italic.woff") format("woff");
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-1000.woff2") format("woff2"),
    url("TWKLausanne-1000.woff") format("woff");
  font-weight: 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lausanne";
  src: url("TWKLausanne-1000Italic.woff2") format("woff2"),
    url("TWKLausanne-1000Italic.woff") format("woff");
  font-weight: 1000;
  font-style: italic;
  font-display: swap;
}
