name: Minify

permissions:
  contents: write

on:
  push:
    paths:
      - "public"
      - ".github/workflows/minify.yml"


jobs:
  minify:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Minify
      uses: nizarmah/auto-minify@v2.1
      with:
         directory: 'public'
    - name: Push to GitHub
      run: |
        git config user.name github-actions[bot]
        git config user.email 41898282+github-actions[bot]@users.noreply.github.com
        git add .
        git commit -m "chore: minify css files"
        git push
